[Unit]
Description=Multi Cloud Shell IP Monitor (Auto-Clean)
After=network.target

[Service]
ExecStart=/bin/bash /root/multi-monitor-auto-clean.sh
Restart=always
User=root
WorkingDirectory=/root

[Install]
WantedBy=multi-user.target
